

body 

{
    color: white;
    background-color: black;
    font-family: sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

a:link

{
    color: #9932CC;
}

a:hover

{
    
    color: red;
}

#intro

{
    border-bottom: dotted white;
    margin-bottom: 5%;
}

#about

{
    border-bottom: dotted white;
    margin-bottom: 5%;
}

#clipssection

{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    padding-bottom: 2%;
    border-bottom: dotted white;
    margin-bottom: 5%;

}

.clips

{
    
    width: 15%; 
    height: 250px;
    background-size: cover;
}

.clips a

{
    text-decoration: none;
    height: 22%;
    width: 100%;
    display: inline-block;
    margin-top: 40%;
    background-color: black;
    color: white;


}


.clips a:hover 

{
    color: red;
    background-color: none;

}

.clips h2

{   
    text-align: center;
    margin: 0;   
}