


* /* for footer project */

{
    margin: 0;
    padding: 0;
}

body 

{
    color: white;
    background-color: black;
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%; /* for footer project */
}

a:link

{
    color: white;
}

a:hover

{
    
    color: red;
}

#intro

{
    border-bottom: dotted white;
    margin-bottom: 5%;
}

#about

{
    border-bottom: dotted white;
    margin-bottom: 5%;
}

#clipssection

{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 2%;
    border-bottom: dotted white;
    margin-bottom: 5%;
}

.clips

{
    
    width: 15%; 
    height: 250px;
    background-size: cover;
}

.clips a

{
    text-decoration: none;
    height: 22%;
    width: 100%;
    display: inline-block;
    margin-top: 40%;
    background-color: black;
    color: white;
}


.clips a:hover 

{
    color: red;
    background-color: none;
}

.clips h2

{   
    text-align: center;
    margin: 0;   
}

#active

{
    border-bottom: dotted white;
}

.projects 

{
    padding-bottom: 2%;
    display: flex;
}



.projects img

{
    max-width: 50%;
    max-height: auto;
    object-fit:  contain;
    padding-right: 3%;
    padding-bottom: 2%;
}

#pagecontainer

{
    min-height: 100%;
}

#everythingbutcontact /* aka "content wrap */

{
    overflow: auto;
    padding-bottom: 100px;
}

#contact

{
    
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

.fab 

{
    font-size: 20px;
}


#twitterblue

{
    color: #50e4ea;

}

#linkedyellow

{
    color: blue;
}

